body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('../images/battlefield.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#selection-0:hover{
  border-color:  #feda4a;
}

#selection-1:hover{
  border-color:  #feda4a;
}

#selection-2:hover{
  border-color:  #feda4a;
}

#game-display{
  height: 100vh;
  padding: 0px;
}

#attack{
  display: none;
  color: #feda4a;
}

.ship-image{
  width: 180px;
  height: 90px;
}

#dialogue-box{
  opacity: 50;
  color: #feda4a;
  overflow-y: scroll;
  max-height: 200px;
}
